<p>
  <strong>Shadow:</strong>
  <%= @name.shadow_id %>
</p>

<p>
	<strong>Label @ Lang:</strong>
	<%# render 'label_lang' %>
	<%= render partial: 'name', locals: { name: @name } %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
