<p id="notice"><%= notice %></p>

<p>
  <strong>Filter:</strong>
  <%= @meta_filter.filter %>
</p>

<%= link_to 'Edit', edit_meta_filter_path(@meta_filter) %> |
<%= link_to 'Back', meta_filters_path %>
