
			<%= field_set_tag do %>
				<label for='all_ticked'>
					<input 
						id='all_ticked'
						name='all_ticked'
						type=checkbox
						<%= @all_ticked %>
					>
					<span class="checkable">all ticked</span>
				</label>
			<% end %>

