
			<%= field_set_tag do %>
				<label for='only_ticked'>
					<input 
						id='only_ticked'
						name='only_ticked'
						type=checkbox
						<%= @only_ticked %>
					>
					<span class="checkable">only ticked</span>
				</label>
			<% end %>

