
	<div class="actions">
		<%# submit_tag("Start Over", { :name => 'reset_button', :id => 'reset_button', :type => "reset", :onclick => "javascript:$('#filter_form').get(0).reset()" }) %>
		<%= submit_tag("Unhide", { :onclick => "javascript:$('#hide').val('no'); $('#filter_form').get(0).submit()" }) %>
  </div>
