<h1>Editing file</h1>

<!-- http://stackoverflow.com/questions/450903/how-to-make-div-not-larger-than-its-contents -->
<div style='display: inline-block;'>
	<%= render 'form' %>
</div>

<%= link_to 'Show this file', @file %> |
<%= link_to 'List of files', fyles_path %>
