<p>
  <strong>Entity:</strong>
  <%= @capacity.entity_id %>
</p>

<p>
  <strong>Relevant:</strong>
  <%= @capacity.relevant %>
</p>

<%= link_to 'Edit', edit_capacity_path(@capacity) %> |
<%= link_to 'Back', capacities_path %>
