<p id="notice"><%= notice %></p>

<h1>New Meta Filter (from pairs)</h1>

<%= render 'form' %>

<%# link_to 'New Meta filter pair', new_meta_filter_pair_path %>
<%= link_to 'Back', meta_filters_path %>
